
/*Razas*/
.contR{
  display: flex;
  flex-direction: column;
  background-image:url(../img/Razas/InsideHyruleCastle.png) ;
  background-attachment: fixed;
  background-position: center;

}
.soy{
  display: flex;
  background-image:url(../img/Razas/LIBROS.png);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  
}
.soy a{
  color: black;
  margin: 10%;
  font-size: 300%;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 50px;
}

.gallery li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  
}
/*Animacion*/
.apartado a{
  position: relative;
}
.apartado a::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  margin-top: 1px;
  background: linear-gradient(to right, red, gold, red);
  z-index:1;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}
.apartado a:hover::before{
  transform:scaleX(1); 
}

.apartado a:hover{
  color: rgb(212, 184, 20);
}

  