
 /*cronologia*/
.crono{
display: flex;
justify-content: center;
margin-bottom: 1%; 
}
.crono img{
width: 100%;
}
  @media (min-width: 768px) {/*tablet*/
/*cronologia*/
.crono img{
  width: auto;
} 
}  
