
*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
  }
  html, body {
    overflow-x:hidden 
  } 
  body{
    background-image:url(../img/fondo_azul.png) ;
    font-family: 'Medula One', cursive;
  }
  body::-webkit-scrollbar {
    -webkit-appearance:none;
    background-image:url(../img/fondo_azul.png);
    width: 0;
  }
  .desaparece{
    display: none;
  }
  /*HEADER*/
  header{
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin-bottom:2%;
    align-content: center;
  }
  /*Parte encabezado*/
  .encabezado{
    display: flex;
    justify-content: center;
    background-image:url(../img/fondo_blanco.png),url(../img/marquito.png)  ;
    height: 70%;
    padding: 1%;
    border:5px solid rgba(0, 0, 0, 0);
    border-image:url(../img/fondo-azulito_plano.jpg) 30 stretch;
  }
  .logos{
    width: 60%;
  }
  .logoP{
    width: auto;
    height: 100%;
  }
  input{
    background-color: rgba(255, 255, 255, 0.144);
    height: 4vh;
    border-bottom:black solid 2px;
  }
  /*Parte navegador*/
  nav {
    background-image:url(../img/fondo-azulito_plano.jpg);
    padding: 5px 20px;
    position: relative;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .menu li {
    padding: 1% 5px;
  }
  .toggle a {
    font-size: 150%;
  }
  /*Nav con responsividad desplegable*/
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .rupi_op{
    height: 5vh;
    margin-right: 5px;
    }
  .item {
    width: 100%;
    font-size: 150%;
    order: 1;
    display: none;
  }
  .item.active {
    display: block;
  }
  .menu .buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu .buscador img{
    background-image: url(../img/fondo_blanco.png);
    border-radius: 50px;
    margin-right: 3%;
    padding: 2%;
  }
  /*Animacion nav*/
  nav .item a{
    position: relative;
  }
  nav .item a::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    margin-top: 1px;
    background: linear-gradient(to right, gray, white, gray);
    z-index:1;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out;
  }
  nav .item a:hover::before{
    transform:scaleX(1);
  }
  nav #desa{
    color: gray;
  }
  nav #desa:hover{
    cursor:default;
  }
  
  /*MAIN*/
  main h1{
    color: white;
    font-size: 300%;
    text-align: center;
    font-family: 'Medula One', cursive;
   /* -webkit-text-stroke: 1px rgb(46, 34, 34); */
  }
  /*Divisiones entre secciones*/
  #division{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1% 0 1% 0;
    background: none;
    height: auto;
    flex-direction: column;
  }
  #division .separo{
    background-image:url(../img/hyrule_rule.png) ;
    margin-top: 1%;
    height:6vh;
    background-repeat: no-repeat;
    background-position: center;
  }

  /*somos*/
  section{
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      text-align: justify;
      color: white;
      font-size: 200%;
      padding: 3%;
      
  }

  section h2{
    text-align: center;
    padding-top: 10%;
  }

    h2 {  
    color: transparent;
    background-color: gold;
    background-image: repeating-linear-gradient(45deg,    transparent, transparent 25px,        rgba(255,255,255,.5) 25px, rgba(255,255,255,.5) 50px);
     -webkit-background-clip: text;
      background-clip: text;   
    animation: color 50s linear infinite; 
    background-size: 200%;  
    -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
  }

  #t{
    text-align: center;
  }

  #t{  
    color: transparent;
    background-color: greenyellow;
    background-image: repeating-linear-gradient(45deg,    transparent, transparent 25px,        rgba(255,255,255,.5) 25px, rgba(255,255,255,.5) 50px);
     -webkit-background-clip: text;
      background-clip: text;   
    animation: color 50s linear infinite; 
    background-size: 200%;  
    -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
  }

  section div{
      display: flex;
      flex-direction: column;
  }
  
  @keyframes color {
    from { 
      background-position: 0% 50%;
    }
    to { 
      background-position: 100% 50%; 
    }
  }
  section img{
    padding-bottom: 10%;
  }
  /*FOOTER*/
  footer{
    display: flex;
    background-image:url(../img/fondo-azulito_plano.jpg) ;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-top:6%;
    height: auto;
  }
  #priv{
    width: 20%;
    height: auto;
  }
  footer div{
    display: flex;
    margin:1% 0 1% 0;
    justify-content: space-around;
  }
  footer .follow{
    display: flex;
    flex-direction: column;
  }
  footer h3{
    font-size: 150%;
  }
  footer p{
    font-size: 150%;
    color: rgba(255, 255, 255, 0.404);
  }
    @media (min-width: 768px) {/*tablet*/
  /*desaparece*/
  .desaparece{
    display: flex;
  }
  .hide,.rupi_op {
    display: none;
  }
  .menu .buscador{
    display: none;
  }
  /*HEADER*/
  header{
    height: 15vh;
  }
  /*Encabezado*/
  .encabezado{
    justify-content: space-between;
  }
  .logos{
    display: flex;
    margin-bottom: 3px;
  }
  .logoG{
    width: auto;
    height: 100%;
  }
  /*Buscador*/
  .encabezado .buscador{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    padding-right: 1%;
  }
  .buscador img{
    margin: 2%;
    height: 40%;
  }
  /*Navegador*/
  .rupi:first-of-type{
    order:0;
  }
  .rupi:last-of-type{
    order:2;
  }
  .rupi{
    width: 4%;
    height: auto;
    margin: 1%;
    
  }
  .item {
    display: block;
    width: auto;
    font-size: 200%;
    list-style: none;
    order: 1;
  }
  nav{
    display: flex;
    background:none;
    justify-content: center;
    padding: 0%;
  }
  .menu {
    justify-content: center;
    margin: 0 3%  0 3%;
    border-radius: 0 0 15px 15px;
    justify-content: space-evenly;
    width: 65%;
    background-image:url(../img/fondo-azulito_plano.jpg);
  }

  /*somos*/
  section{
    font-size: 300%;
    padding: 1%;
    
}

section h2{
  text-align: center;
  padding-top: 5%;
}

section img{
    padding-bottom: 5%;
  }
  /*Footer*/
  footer{
    margin-top:1%;
  }
  footer h3{
    font-size: 200%;
  }
  }  
    @media (min-width: 1200px) {/*Escritorio*/
  /*HEADER*/
  header{
    height: 25vh;
  }

    /*somos*/
   section{
        font-size: 300%;
        padding: 1%;  

       
    }
    
    section h2{
      text-align: center;
      padding-top: 2%;
    }
    
    section img{
        display: flex;
        justify-self: center;
        padding-bottom: 2%;
        width: 40%;
        height: 20%;
      }

      section div{
flex-direction: row;
      }

  /*Footer*/
  #priv{
    width: 20%;
    height: auto;
  }
  footer .follow{
    display: flex;
    flex-direction: column;
  }
  footer h3{
    font-size: 200%;
  }
  footer p{
    font-size: 130%;
  }
  .redes{
    margin: 1px;
  }
  .redes:hover{
    transition:all .5s ease-in-out;
    filter: opacity(.4);
  }
  }