
  /*Personajes*/
.cont_P{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url(../img/collagePersonajes/CollageCel.jpg);
  background-size: 100% ;
}
.grupo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image:url(../img/marcoD.png) ;
  background-size: 100% 100%;
  padding: 5%;
}
.grupo p{
  padding-left: 5%;
}
section{
  background-color: rgba(0, 0, 0, 0.61);
  width: 90%;
  padding: 2%;
  
}

section p{
font-size: 300%;
}
.mostrar{
  display: none;
  flex-direction: column;
  font-family: 'Libre Baskerville', serif;
  width: 100%;
}
section i{
  font-size: 300%;
}
section .mostrar a{
  display: flex;
  font-size: 170%;
  color: white;
  align-items: center;
  text-decoration: underline;
}
.punto{
  width: 20%;
  height: auto;
  margin-right: 5%;
}
section .mostrar p{
  font-size: 200%;
  color: rgba(255, 255, 255, 0.63);
  text-align: center;
}
.mostrar i{
  font-size: 300%;
  color: black;
  align-self: flex-end;
}
.fas{
  -webkit-text-stroke: 0.5px gold;
}
.linea{
  text-align: center;
  border-bottom: white 1px solid;
  background: -webkit-linear-gradient(left top, white, yellow);
  background: linear-gradient(to bottom right, white, yellow);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent; 
}

    @media (min-width: 768px) {/*tablet*/
    /*Personajes*/
    section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .grupo{
      width: 80%;
    }
    .grupo p{
      font-size: 250%;
    }

    .mostrar{
      width: 90%;
    }
  }
    @media (min-width: 1200px) {/*Escritorio*/
/*Personajes*/
.cont_P{
  background-image:url(../img/collagePersonajes/CollageE.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
section{
  width: 70%;
}
.punto{
  width: 10%;
}
}
  