*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
  }
  html, body {
    overflow-x:hidden 
  } 
  body{
    background-image:url(../img/fondo_azul.png) ;
    font-family: 'Medula One', cursive;
  }
  body::-webkit-scrollbar {
    -webkit-appearance:none;
    background-image:url(../img/fondo_azul.png);
    width: 0;
  }
  .desaparece{
    display: none;
  }
  /*HEADER*/
  header{
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin-bottom:2%;
    align-content: center;
  }
  /*Parte encabezado*/
  .encabezado{
    display: flex;
    justify-content: center;
    background-image:url(../img/fondo_blanco.png),url(../img/marquito.png)  ;
    height: 70%;
    padding: 1%;
    border:5px solid rgba(0, 0, 0, 0);
    border-image:url(../img/fondo-azulito_plano.jpg) 30 stretch;
  }
  .logos{
    width: 60%;
  }
  .logoP{
    width: auto;
    height: 100%;
  }
  input{
    background-color: rgba(255, 255, 255, 0.144);
    height: 4vh;
    border-bottom:black solid 2px;
  }
  /*Parte navegador*/
  nav {
    background-image:url(../img/fondo-azulito_plano.jpg);
    padding: 5px 20px;
    position: relative;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .menu li {
    padding: 1% 5px;
  }
  .toggle a {
    font-size: 150%;
  }
  /*Nav con responsividad desplegable*/
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .rupi_op{
    height: 5vh;
    margin-right: 5px;
    }
  .item {
    width: 100%;
    font-size: 150%;
    order: 1;
    display: none;
  }
  .item.active {
    display: block;
  }
  .menu .buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu .buscador img{
    background-image: url(../img/fondo_blanco.png);
    border-radius: 50px;
    margin-right: 3%;
    padding: 2%;
  }
  /*Animacion nav*/
  nav .item a{
    position: relative;
  }
  nav .item a::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    margin-top: 1px;
    background: linear-gradient(to right, gray, white, gray);
    z-index:1;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out;
  }
  nav .item a:hover::before{
    transform:scaleX(1);
  }
  
  /*MAIN*/
  main h1{
    color: white;
    font-size: 300%;
    text-align: center;
    font-family: 'Medula One', cursive;
   /* -webkit-text-stroke: 1px rgb(46, 34, 34); */
  }
  /*Inicio tableta sheika*/
  .contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Medula One', cursive;
    width: 100%;
    height: auto;
  }
  .tableta{
    background-image:url(../img/marco.png),
    url(../img/fondo_azul_negro.jpg) ;
    width: 100%;
    height: auto;
    background-size:cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5%;
    margin-top: 1%;
    padding: 3%;
    color: white;
    }
  .tablet-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 10%;
  }
  .tablet-cont {
      display: grid;
      grid-template-columns: auto auto;
  }
  .tablet-cont div:last-child{
    justify-content: center;
    align-items: center;
    width: 200%;
  }
  .tablet-cont div{
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  .tablet-cont h2{
    font-size: 200%;
    margin: 3%;
  }
  .tablet-cont button{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border:black solid 3px;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    background: none;
  }
  .tablet-cont div{
    text-align: center;
  }
  /*Botones tableta*/
  .juego button{
    border-color: pink;
    box-shadow: 0 0 40px 40px rgba(236, 159, 172, 0.719) inset, 0 0 0 0 rgba(236, 159, 172, 0.719);
  }
  .person button{
    border-color:rgb(0, 132, 255);
    box-shadow: 0 0 40px 40px rgba(152, 191, 241, 0.527) inset, 0 0 0 0 rgba(152, 191, 241, 0.527);
  }
  .lugares button{
    border-color:purple;
    box-shadow: 0 0 40px 40px rgba(128, 0, 128, 0.685) inset, 0 0 0 0 rgba(128, 0, 128, 0.685);
  }
  .obj button{
    color: gray;
  }
  .razas button{
    border-color:yellow;
    box-shadow: 0 0 40px 40px rgba(255, 255, 0, 0.671) inset, 0 0 0 0 rgba(255, 255, 0, 0.671);
  }
  /*Animacion botones*/
  .tablet-cont button:hover{
    cursor: pointer;
    background: none;
  }
  .juego button:hover {
    box-shadow: 0 0 10px 0 pink inset, 0 0 10px 4px pink;
  }
  .person button:hover {
    box-shadow: 0 0 10px 0 rgb(0, 132, 255) inset, 0 0 10px 4px rgb(0, 132, 255);
  }
  .lugares button:hover {
    box-shadow: 0 0 10px 0 purple inset, 0 0 10px 4px purple;
  }
  .obj button:hover{
    cursor: auto;
  }
  .razas button:hover{
    box-shadow: 0 0 10px 0 yellow inset, 0 0 10px 4px yellow;
  }
  /*Divisiones entre secciones*/
  #division{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1% 0 1% 0;
    background: none;
    height: auto;
    flex-direction: column;
  }
  #division .separo{
    background-image:url(../img/hyrule_rule.png) ;
    margin-top: 1%;
    height:6vh;
    background-repeat: no-repeat;
    background-position: center;
  }
  /*FOOTER*/
  footer{
    display: flex;
    background-image:url(../img/fondo-azulito_plano.jpg) ;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-top:6%;
    height: auto;
  }
  #priv{
    width: 20%;
    height: auto;
  }
  footer div{
    display: flex;
    margin:1% 0 1% 0;
    justify-content: space-around;
  }
  footer .follow{
    display: flex;
    flex-direction: column;
  }
  footer h3{
    font-size: 150%;
  }
  footer p{
    font-size: 150%;
    color: rgba(255, 255, 255, 0.404);
  }
    
    
    @media (min-width: 768px) {/*tablet*/
   /*desaparece*/
  .desaparece{
    display: flex;
  }
  .hide,.rupi_op {
    display: none;
  }
  .menu .buscador{
    display: none;
  }
  /*HEADER*/
  header{
    height: 15vh;
  }
  /*Encabezado*/
  .encabezado{
    justify-content: space-between;
  }
  .logos{
    display: flex;
    margin-bottom: 3px;
  }
  .logoG{
    width: auto;
    height: 100%;
  }
  /*Buscador*/
  .encabezado .buscador{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    padding-right: 1%;
  }
  .buscador img{
    margin: 2%;
    height: 40%;
  }
  /*Navegador*/
  .rupi:first-of-type{
    order:0;
  }
  .rupi:last-of-type{
    order:2;
  }
  .rupi{
    width: 4%;
    height: auto;
    margin: 1%;
    
  }
  .item {
    display: block;
    width: auto;
    font-size: 200%;
    list-style: none;
    order: 1;
  }
  nav{
    display: flex;
    background:none;
    justify-content: center;
    padding: 0%;
  }
  .menu {
    justify-content: center;
    margin: 0 3%  0 3%;
    border-radius: 0 0 15px 15px;
    justify-content: space-evenly;
    width: 65%;
    background-image:url(../img/fondo-azulito_plano.jpg);
  }
      /*MAIN*/
      /*Tableta Sheika*/
    .tablet-cont{
      display: flex;
      flex-direction: row;
    }
    .tablet-cont div:last-child{
      width: auto;
    }
  /*Footer*/
  footer{
    margin-top:1%;
  }
  footer h3{
    font-size: 200%;
  }
    }
    
      
    @media (min-width: 1200px) {/*Escritorio*/
      /*HEADER*/
    header{
      height: 25vh;
    }
    /*Tableta sheika*/
    .tableta{
      width: 60%;
      height: 60vh;
    }
    /*Divisionn*/
    .letra{
      display: flex;
    }
  /*Footer*/
  #priv{
    width: 20%;
    height: auto;
  }
  footer .follow{
    display: flex;
    flex-direction: column;
  }
  footer h3{
    font-size: 200%;
  }
  footer p{
    font-size: 130%;
  }
  .redes{
    margin: 1px;
  }
  .redes:hover{
    transition:all .5s ease-in-out;
    filter: opacity(.4);
  } 
  
    }
  