

/*Juegos*/
.titulos-videojuegos a{
    text-decoration: none;
    color: black;
    font-family: 'Medula One', cursive;
    font-size: 200%;
   
}
.titulos-videojuegos a:hover{
   color: rgba(0, 0, 0, 0.616);
}
.titulos-videojuegos section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
   
}
.titulos-videojuegos .imagen{
    order:2;
    height: 40vh;
    width: 100%;
    position: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
}
.titulos-videojuegos article{
    background-image:url(../img/fondo_blanco.png) ;
    width: 100%;
    order: 1;

}


.animation-examples{
  color: #174373;
  outline: 10px dashed white;
  box-shadow: 0 0 0 10px rgba(7, 7, 66, 0);
  animation: 2s animateBorderTwo ease infinite;
  margin: 3%;
}

@keyframes animateBorderTwo {
  to {
    outline-color: #174373;
    box-shadow: 0 0 0 10px white;
  }
}

/*Imagenes*/
.titulos-videojuegos section:nth-child(odd) .der{
    display: none;
}
.titulos-videojuegos section:nth-child(even) .izq{
    display:none;
}

/*Imagenes Izquierda*/
.titulos-videojuegos section:first-of-type .izq{
    background-image:url(../img/Caratulas/1986.jpg);
}
.titulos-videojuegos section:nth-child(3) .izq{
    background-image:url(../img/Caratulas/1991.jpg) ;
}
.titulos-videojuegos section:nth-child(5) .izq{
    background-image:url(../img/Caratulas/1995.jpg) ;
}
.titulos-videojuegos section:nth-child(7) .izq{
    background-image:url(../img/Caratulas/2000.jpg) ;
}
.titulos-videojuegos section:nth-child(9) .izq{
    background-image:url(../img/Caratulas/2002.png) ;
}
.titulos-videojuegos section:nth-child(11) .izq{
    background-image:url(../img/Caratulas/2004.jpg) ;
}
.titulos-videojuegos section:nth-child(13) .izq{
    background-image:url(../img/Caratulas/2007.jpg) ;
}
.titulos-videojuegos section:nth-child(15) .izq{
    background-image:url(../img/Caratulas/2011.png) ;
}
.titulos-videojuegos section:nth-child(17) .izq{
    background-image:url(../img/Caratulas/2015.png) ;
}
/*Imagenes Derecha*/
.titulos-videojuegos section:nth-child(2) .der{
    background-image:url(../img/Caratulas/1987.jpg) ;
}
.titulos-videojuegos section:nth-child(4) .der{
    background-image:url(../img/Caratulas/1993.jpg) ;
}
.titulos-videojuegos section:nth-child(6) .der{
    background-image:url(../img/Caratulas/1998.jpg) ;
}
.titulos-videojuegos section:nth-child(8) .der{
    background-image:url(../img/Caratulas/2001.jpg) ;
}
.titulos-videojuegos section:nth-child(10) .der{
    background-image:url(../img/Caratulas/2002-2.png) ;
}
.titulos-videojuegos section:nth-child(12) .der{
    background-image:url(../img/Caratulas/2006.png) ;
}
.titulos-videojuegos section:nth-child(14) .der{
    background-image:url(../img/Caratulas/2009.jpg) ;
}
.titulos-videojuegos section:nth-child(16) .der{
    background-image:url(../img/Caratulas/2013.jpg) ;
}
.titulos-videojuegos section:nth-child(18) .der{
    background-image:url(../img/Caratulas/2017.jpg) ;
}
  @media (min-width: 768px) {/*tablet*/
  /*juegos*/
  .titulos-videojuegos .imagen{
    height: 50vh;
  
}
.titulos-videojuegos a{
  font-size: 300%;
}

.animation-examples{
  margin: 1%;
}
}
@media (min-width: 1200px) {/*Escritorio*/
/*juegos*/
.titulos-videojuegos article{
display: flex;
height: 10vh;
align-items: center;
justify-content: center;
}
.titulos-videojuegos article:hover {
  transform: scale(1.1);
}
/*Imagenes*/
.titulos-videojuegos a{
  font-size: 200%;
}
.titulos-videojuegos .izq{
  order: 1;
}
.titulos-videojuegos .der{
  order: 3;
}
.titulos-videojuegos section:nth-child(odd) .der{
  display: flex;
 
}
.titulos-videojuegos section:nth-child(even) .izq{
  display: flex;
}
.titulos-videojuegos section:nth-child(even) .der{
  margin-right: 1%;
 
}
.titulos-videojuegos section:nth-child(odd) .izq{
  margin-left: 1%;
}

.titulos-videojuegos section{
  display: flex;
  flex-direction: row;
}
}