/*Parte Significado*/
  .significado{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image:url(../img/lonk_cel.jpg) ;
    background-size: 100% ;
    background-attachment: fixed;
    border-radius: 5px;
  }
  .caja{
    width: 100%;
    height: auto;
  }
  .sig-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    text-align: center;
  }
  .sig-texto{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding:5%;
  font-family: 'Libre Baskerville', serif;
  font-size: 130%;
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  overflow: hidden;
  }
  /*Noticias*/
  .secciones{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .secciones #sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    margin: 1% 0 1% 0;
  }
  .articulos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .fechas{
    display: flex;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.623);
    font-size: 150%;
    font-family: 'Medula One', cursive;
  }
  .fechas p{
    color: white;
    border-radius: 50%;
    border:gold solid 1%;
    padding: 1%;
    box-shadow: 0 0 10px 0 gold inset, 0 0 10px 4px gold;
  }
  article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60vh;
    background-image:url(../img/marquito.png) ;
    background-size:cover;
    background-size: 100% 100%;
    margin-bottom: 5%;
  }
  article div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(../img/fondo_cafe.jpg) ;
    width: 95%;
    height: 94%;
    border-radius: 15px;
    background-position: center;
  }
  .informacion h2{
    text-align: center;
    font-size: 200%;
  }
  .informacion h3{
    text-align: center;
    font-size: 190%;
  }
  .informacion p{
    padding:0 5% 0 5% ;
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
  }
  .p-info img{
    width: 100%;
  }
  .s-info img{
    width: 80%;
    height: 100%;
  }
  .t-info img{
    width: 100%;
  }
  .c-info img{
    height: 80%;
    width: auto;
  }
  .informacion{
    color: white;
    display: none;
    position:absolute;
    width: 80%;
    height: 50%;
    background:#190b0cd0;
    overflow-y: scroll; 
    overflow-x: hidden; 
  
  }
  .informacion::-webkit-scrollbar {
    -webkit-appearance:none;
    background:none;
  }
  .informacion::-webkit-scrollbar-thumb {
    background:#140808e0;
    border: 0.05px solid #f1f2f3;
    border-radius: 50px;
  }

  @media (min-width: 768px) {/*tablet*/
  
  /*Significado*/
  .significado{
    justify-content: center;
  }
  .sig-texto{
    font-size: 230%;
    height: 80%;
  }
  /*Noticias*/
  .articulos{
    flex-direction: row;
    margin: 0%;
  }
  
  .informacion{
    height: 50%;
    width: 45%;
  }
  .s-info img{
    width: 100%;
    height: 100%;
  }
}
 
  @media (min-width: 1200px) {/*Escritorio*/
  /*Significado*/
  .significado{
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    height: 50vh;
    background-image:url(../img/fondito.jpg) ;
  }
  .sig-texto{
    padding:1%;
    font-size: 170%;
    background-color: rgba(0, 0, 255, 0.192);
    font-weight: normal;
    height: auto;
    color: black;
  }
  /*Noticias*/
  article{
    width: 30%;
  }
  .s-info img{
    width: 80%;
  }
  .informacion{
    width: 28.5%;
    height: 60%;
  }
  }