

  /*somos*/
  section{
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      text-align: justify;
      color: white;
      font-size: 200%;
      padding: 3%;
      
  }

  section h2{
    text-align: center;
    padding-top: 10%;
  }

    h2 {  
    color: transparent;
    background-color: gold;
    background-image: repeating-linear-gradient(45deg,    transparent, transparent 25px,        rgba(255,255,255,.5) 25px, rgba(255,255,255,.5) 50px);
     -webkit-background-clip: text;
      background-clip: text;   
    animation: color 50s linear infinite; 
    background-size: 200%;  
    -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
  }

  #t{
    text-align: center;
  }

  #t{  
    color: transparent;
    background-color: greenyellow;
    background-image: repeating-linear-gradient(45deg,    transparent, transparent 25px,        rgba(255,255,255,.5) 25px, rgba(255,255,255,.5) 50px);
     -webkit-background-clip: text;
      background-clip: text;   
    animation: color 50s linear infinite; 
    background-size: 200%;  
    -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
  }

  section div{
      display: flex;
      flex-direction: column;
  }
  
  @keyframes color {
    from { 
      background-position: 0% 50%;
    }
    to { 
      background-position: 100% 50%; 
    }
  }
  section img{
    padding-bottom: 10%;
  }
 
    @media (min-width: 768px) {/*tablet*/
  /*somos*/
  section{
    font-size: 300%;
    padding: 1%;
    
}
  }  
    @media (min-width: 1200px) {/*Escritorio*/
  /*HEADER*/
  header{
    height: 25vh;
  }

    /*somos*/
   section{
        font-size: 300%;
        padding: 1%;  

       
    }
    
    section h2{
      text-align: center;
      padding-top: 2%;
    }
    
    section img{
        display: flex;
        justify-self: center;
        padding-bottom: 2%;
        width: 40%;
        height: 20%;
      }

      section div{
flex-direction: row;
      }
  }